<% layout("layouts/boilerplate") %>
    <h1>test</h1>
    <article>
        <h4>Choose the correct translation for given word!</h4>
        <h5>
            <%= words[correctWord].italian %>
        </h5>

        <button>
            <%= words[randomPlaceArr[place11]].english %>
        </button>

        <button>
            <%= words[randomPlaceArr[place22]].english %>
        </button>

        <button>
            <%= words[randomPlaceArr[place33]].english %>
        </button>

        <button>
            <%= words[randomPlaceArr[place44]].english %>
        </button>

        <button>
            <%= words[randomPlaceArr[place55]].english %>
        </button>

    </article>

    <!-- <% const la=document.querySelectorAll("button");la.addEventListener("click", ()=> { la.style.color =
        "blue" }) %> -->